@font-face {
  font-family: 'Consolas';
  font-display: swap;
  src: local('Consolas'), url(../fonts/consolas.ttf) format('truetype');
}
@font-face {
  font-family: 'Neon 80s';
  font-display: swap;
  src: url(../fonts/neon-80s.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/permanent-marker.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'JLS Space Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/jls-space-gothic-rnc.otf) format('opentype');
}
@font-face {
  font-family: 'Vegapunk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/vegapunk.otf) format('opentype');
}
@font-face {
  font-family: 'Public Pixel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/public-pixel.ttf) format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neon 80s', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  &.light {
    color: #f9c;
  }
}

.token.operator {
  background: transparent;
}
.language-css .token.string {
  background: transparent;
  filter: brightness(1.5);
}
// Prism-Synthwave is a little too dark using a projector
code[class*='language-'],
pre[class*='language-'] {
  color: #f9c;
}
// Selectors and properties with the same color, why?! Let's change it
.token.selector {
  color: #99f;
}

.code-slide {
  --slide-bg: radial-gradient(circle, #ff3763 25%, #002e40 80%);
  background: url(../img/code-bg.jpg) center/100%;

  &[aria-hidden='false'] {
    animation: zoom-code-slide 500ms 1 forwards;

    pre {
      animation: zoom-code 500ms 1 forwards;
    }
  }

  pre {
    height: 16em;
    margin: -2.5em 6em 0em 1.75em;
    border-radius: 2em / 7em;
    width: 20em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 1em black;
  }
}

@keyframes zoom-code-slide {
  from {
    background-size: 100%;
  }
  to {
    background-size: 150%;
  }
}
@keyframes zoom-code {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.marker {
  font-family: 'Permanent marker', cursive;
  color: var(--brand-color);
  font-weight: normal;
}
.pixel {
  font-family: 'Public pixel', monospace;
  font-weight: normal;
}

.code-space {
  font-family: 'JLS Space Gothic', monospace;
  font-weight: normal;
}

.title-slide {
  --slide-bg: var(--brand-color);
  color: white;

  :is(h1, h2, h3, h4, h5, h6) {
    color: inherit;
    text-align: center;
  }
  &[aria-hidden='false'] :is(h1, h2, h3, h4, h5, h6) {
    animation: from-top 0.5s 1 forwards;
  }
}

pre.display {
  border-image-source: url(../img/display.webp);
  border-image-slice: 52 54 110;
  border-image-width: 2.6em 2.7em 5.5em;
  border-width: 2.6em 2.7em 5.5em;
  border-style: solid;
  margin: -1em 0;
  overflow: hidden;
  line-height: normal;
  padding-block: 0.5em;
  background-clip: padding-box;

  &.ratio {
    aspect-ratio: 1.1;
  }

  @each $block in top bottom {
    @each $inline in left right {
      &.#{$block}-#{$inline} {
        border-image-width: #{if($block == top, 2.6em, 0)}
          #{if($inline == right, 2.7em, 0)}
          #{if($block == bottom, 5.5em, 0)}
          #{if($inline == left, 2.7em, 0)};
        border-width: #{if($block == top, 2.6em, 0)}
          #{if($inline == right, 2.7em, 0)}
          #{if($block == bottom, 5.5em, 0)}
          #{if($inline == left, 2.7em, 0)};
        margin: 0;
      }
    }
  }
  @each $side in top right bottom left {
    &.no-#{$side} {
      border-image-width: #{if($side == top, 0, 2.6em)}
        #{if($side == right, 0, 2.7em)}
        #{if($side == bottom, 0, 5.5em)}
        #{if($side == left, 0, 2.7em)};
      border-width: #{if($side == top, 0, 2.6em)}
        #{if($side == right, 0, 2.7em)}
        #{if($side == bottom, 0, 5.5em)}
        #{if($side == left, 0, 2.7em)};
      margin: 0;
    }
  }

  > code {
    display: block;
    font-size: 75%;
    &.big {
      font-size: 100%;
    }
  }
}

.outline {
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0.02em;
  text-shadow: 0 0 0.2em;
}

.code-4-split[aria-hidden='false'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  place-content: center;
}

.gradient-1 {
  --slide-bg: #4158d0 linear-gradient(325deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.gradient-2 {
  --slide-bg: linear-gradient(109.6deg, rgba(103, 30, 117, 1) 11.2%, rgba(252, 76, 2, 1) 91.1%);
}
.gradient-3 {
  --slide-bg: linear-gradient(58.2deg, rgba(40, 91, 212, 0.73) -3%, rgba(171, 53, 163, 0.45) 49.3%, rgba(255, 204, 112, 0.37) 97.7%);
}
.gradient-4 {
  --slide-bg: linear-gradient(109.6deg, rgba(254, 253, 205, 1) 11.2%, rgba(163, 230, 255, 1) 91.1%);
}

.c64-slide {
  --slide-bg: var(--brand-color);
  color: color-mix(in lab, var(--slide-bg), white);
  border: 1em solid;

  * {
    font-family: 'Public Pixel', monospace;
    line-height: 1.25;
  }
}

.raw-code-slide {
  /* Pattern by Temami Afif https://css-pattern.com/#g88 */
  --slide-bg: conic-gradient(at 25% 25%, #0000 75%, #d3e5ff 0) 0 1.5em/2em 2em, conic-gradient(#0000 75%, #c9dbff 0) -0.25em 1.25em/2em 2em,
    conic-gradient(at 25% 75%, #d3e5ff 25%, #c9dbff 0) 0 0/2em 2em;
}

.super-mario-code {
  --slide-bg: #5c94fc;
  --pixel-size: 0.075em;
  --step-duration: 0.3s;
  background: url(../img/ground.svg) 0 100% / calc(var(--pixel-size) * 16) calc(var(--pixel-size) * 16) repeat-x;

  pre {
    margin: 0;
    font-size: 100%;
    padding: calc(var(--pixel-size) * 20);
    box-shadow: inset 0 var(--pixel-size) #fcbcb0;
    background: linear-gradient(#000, #000) calc(var(--pixel-size) * 16) calc(var(--pixel-size) * 16) / calc(100% - var(--pixel-size) * 32)
        calc(100% - var(--pixel-size) * 32) no-repeat,
      url(../img/brick.svg) 0 0 / calc(var(--pixel-size) * 16) calc(var(--pixel-size) * 16);

    code {
      font-size: 50%;
      display: block;
    }
  }

  img {
    width: calc(var(--pixel-size) * 16);
    position: absolute;
    bottom: calc(var(--pixel-size)* 16);
    left: 0;
    animation: goomba-steps var(--step-duration) infinite alternate steps(2, jump-none),
      goomba-move 30s infinite alternate linear;
  }
}

@keyframes goomba-steps {
  from { scale: 1 1; }
  to { scale: -1 1; }
}
@keyframes goomba-move {
  from { left: 0; }
  to { left: calc(100% - var(--pixel-size) * 16); }
}

@keyframes clip-left {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes clip-right {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

p-deck:not([mode='speaker']) {
  @each $dir in left right {
    p-fragment[aria-hidden='false'] .clip-#{$dir},
    p-slide[aria-hidden='false'] .clip-#{$dir}:not(p-fragment > .clip-#{$dir}) {
      animation: clip-#{$dir} var(--fragment-duration, 300ms) $motion-entrance-timing-fn 1 forwards;
    }
  }
}

.cursor {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-bottom: 0.125em solid;
}

.chevron-down {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: .1em solid;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: scaleX(1.5) translateY(-25%) rotate(45deg);
}

.chrome {
  --slide-bg: #e3dbd0
    linear-gradient(
      transparent calc(50% - 5em),
      #0d8dab 0,
      calc(50% - 3em),
      #8fa341 0,
      calc(50% - 1em),
      #e4ba0d 0,
      calc(50% + 1em),
      #ec4b0c 0,
      calc(50% + 3em),
      #f40b55 0,
      calc(50% + 5em),
      transparent 0
    );
  &::before {
    content: '';
    background: #222;
    border-radius: 0.75em;
    position: absolute;
    top: 50%;
    right: 0;
    width: 8em;
    height: 8em;
    transform: translate(59%, -50%) rotate(45deg);
  }
  > span {
    font-size: 1000%;
    font-family: Vegapunk, system-ui, sans-serif;
    margin-top: 0.52em;
  }
  &[aria-hidden='false'] > span {
    animation: from-left 500ms 1 forwards;
  }
}
.firefox {
  --slide-bg: #cad7dd;
  background: url(../img/red-panda.webp) 0 / contain no-repeat;
  justify-content: start;
  align-items: end;

  > span {
    font-size: 800%;
    font-weight: bold;
    line-height: 0.7;
    color: #241f21;
    letter-spacing: -0.08em;
    > img {
      width: 1em;
      transform: scaleX(-1);
      filter: contrast(0.75);
    }
  }
  &[aria-hidden='false'] > span {
    animation: from-top 500ms 1 forwards;
  }
}
.safari {
  --slide-bg: linear-gradient(#ccebee 50%, #f0c17b 0);
  background: url(../img/safari.webp) 0 / contain no-repeat;
  justify-content: end;
  align-items: end;

  > span {
    font-size: 500%;
    color: #fff;
    -webkit-text-stroke-color: #215a74;
    -webkit-text-stroke-width: 0.02em;
    line-height: 0.7;
  }
  &[aria-hidden='false'] > span {
    animation: from-bottom 500ms 1 forwards;
  }
}
